Options -Indexes +FollowSymLinks
RewriteEngine on
RewriteCond %{REQUEST_URI} !^/admin(/|$)
RewriteCond %{REQUEST_URI} !^/system(/|$)
RewriteCond %{REQUEST_URI} !^/templates(/|$)
RewriteCond %{REQUEST_URI} !^/uploads(/|$)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

#-------------- Cards -------------------------------------------
RewriteRule ^cards/([a-zA-Z0-9_-]+)$ cards/index.php?card_name=$1 [L]

#-------------- Discounts -------------------------------------------
RewriteRule ^discount/([a-zA-Z0-9_-]+)$ discount/index.php?$1 [L]

#-------------- Partner With ISIC -------------------------------------------
RewriteRule ^partner-with-isic/([a-zA-Z0-9_-]+)$ partner-with-isic/index.php#$1 [L]

#-------------- Travel With Us -------------------------------------------
RewriteRule ^travel-with-us/([a-zA-Z0-9_-]+)$ travel-with-us/index.php#$1 [L]

#-------------- Take A Vacation -------------------------------------------
RewriteRule ^take-a-vacation/([a-zA-Z0-9_-]+)$ take-a-vacation/index.php#$1 [L]